<launch>

  <!-- defines name of the namespace of the drone -->
  <arg name="UAV_NAME" default="$(optenv UAV_NAME uav1)" />

    <!-- will it run using GNU debugger? -->
  <arg name="DEBUG" default="false" />
  <arg unless="$(arg DEBUG)" name="launch_prefix_debug" value=""/>
  <arg     if="$(arg DEBUG)" name="launch_prefix_debug" value="debug_roslaunch"/>

    <!-- will it run as standalone nodelet or using a nodelet manager? -->
  <arg name="standalone" default="true" />
  <arg name="manager" default="$(arg UAV_NAME)_waypointflier_manager" />
  <arg unless="$(arg standalone)" name="nodelet" value="load"/>
  <arg     if="$(arg standalone)" name="nodelet" value="standalone"/>
  <arg unless="$(arg standalone)" name="nodelet_manager" value="$(arg manager)"/>
  <arg     if="$(arg standalone)" name="nodelet_manager" value=""/>

  <!-- Namespace - all topics, services and parameters will be remapped using this namespace as a prefix (eg.: "/waypoint_flier/odom_uav_in" to "/uav1/waypoint_flier/odom_uav_in") -->
  <group ns="$(arg UAV_NAME)">

    <!-- WaypointFlier nodelet -->
    <node pkg="nodelet" type="nodelet" name="waypoint_flier" args="$(arg nodelet) waypoint_flier/WaypointFlier $(arg nodelet_manager)" launch-prefix="$(arg launch_prefix_debug)" output="screen">

      <!-- Parameters loaded from launch file -->
      <param name="uav_name" value="$(arg UAV_NAME)" />

        <!-- ROS parameters config file -->
      <rosparam file="$(find waypoint_flier)/config/waypoint_flier.yaml" />

        <!-- Subscribers (note that the topic names will also be remapped using the namespace as a prefix) -->
      <remap from="~odom_uav_in" to="estimation_manager/odom_main" />
      <remap from="~control_manager_diagnostics_in" to="control_manager/diagnostics" />
      <remap from="~odom_gt_in" to="ground_truth" />

        <!-- Publishers (note that the topic names will also be remapped using the namespace as a prefix) -->
      <remap from="~reference_out" to="control_manager/reference" />
      <remap from="~dist_to_waypoint_out" to="~dist_to_waypoint" />

        <!-- Service servers (note that the service names will also be remapped using the namespace as a prefix) -->
      <remap from="~start_waypoints_following_in" to="~start_waypoints_following" />
      <remap from="~stop_waypoints_following_in" to="~stop_waypoints_following" />
      <remap from="~fly_to_first_waypoint_in" to="~fly_to_first_waypoint" />

        <!-- Service clients (note that the service names will also be remapped using the namespace as a prefix) -->
      <remap from="~land_out" to="uav_manager/land" />

    </node>

  </group>

</launch>
